@import "mixins";

$bg: #ccc;
$border: #ccc;
$color: #bbb;
$border-radius: 6px;

.darkbox,
#db-overlay {
  color: #333;
  background-color: #eee;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.darkbox {
  @include border-radius($border-radius);
  @include box-shadow(inset 0 0 8px 0px rgba(0,0,0,0.6));
  border-style: solid;
  border-width: 1px;
  border-color: lighten($bg, 30%) lighten($bg, 15%) darken($bg, 30%) darken($bg, 15%);
  background-color: $bg;
  background-image: url(../images/bg.png);
  padding: 10px;
  font-size: 0; // remove gap between inline-blocks
  [data-darkbox] {
    display: inline-block;
    line-height: 0;
    margin: 0 1px 1px 0;
    vertical-align: top;
    white-space: normal;
    &:hover {
      @include box-shadow(0 0 10px blue);
      @include scale(1.1);
      @include transition(all 0.3s ease);
    }
  }
}
#db-overlay {
  @include transition(opacity 1s linear);
  @include opacity(0);
  background: rgba(0,0,0,.85);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-y: scroll;
  z-index: 100;
}
.db-zoom {
  @include border-radius($border-radius);
  border-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;

  figure,
  img {
    @include border-radius($border-radius);
  }
  figure {
    @include box-shadow(0 5px 20px black);
    background: #eee url(../images/ajax.gif) no-repeat 50% 50%;
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    figcaption {
      @include box-sizing(border-box);
      @include transition(all 0.3s);
      @include transition-delay(0.3s);
      color: $color;
      background: black;
      background: rgba(0,0,0,.75);
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px;
      text-align: justify;
      width: 100%;
    }
  }
  .db-prev,
  .db-next {
    @include opacity(0);
    @include transition(opacity 0.3s linear);
    background: rgba(0,0,0,0.5) no-repeat 50% 50%;
    color: white;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    min-width: 50px;
    width: 6.5%;
    &:hover {
      @include opacity(100);
    }
  }
  .db-prev {
    background-image: url(../images/prev.png);
    left: 0;
  }
  .db-next {
    background-image: url(../images/next.png);
    right: 0;
  }
}